body {
    font-family: Arial, sans-serif;
    background-color: #fc9494;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 250px;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .calculator>.numberbox{
    height: 90%;
    width: 120%;
    background-color: rgb(21, 42, 90);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    grid-gap: 10px;
    padding: 10px;
  }

  .display {
    grid-column: span 4;
    background-color: #309a34;
    border: 3px solid #4c644d;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    font-family: "Orbitron", sans-serif;
  }
  
  .numbers {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Orbitron", sans-serif;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .equals {
    grid-column: span 2;
  }
  
  .cname{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 5px;
    color: white;
    text-shadow: 0px 0px 2px rgb(240, 220, 149);
  }